{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

<main class="content" role="main">
    <div class="wrapper flex-wrapper">
        <div id="content" class="flex-content">
            <article class="{{post_class}}">
                {{#post}}
                <div class="post-wrapper">
                    <div class="post-content">
                        <h1 class="post-title">{{{title}}}</h1>
                        <div class="post-info">
                            <div class="author-info">
                                <a class="author-img" href={{author.website}}>
                                    <span class="author-image" style="background-image:url({{author.image}})"></span>
                                </a> 
                                <a class="author-name" href={{author.website}}>
                                    <p>{{author.name}}</p>
                                </a>
                            </div>
                            <div class="post-date-tags">
                                <p> - {{date published_at format="DD MMMM, YYYY"}}{{#if tags}} - {{tags separator=", " prefix="Tags: "}}{{/if}}</p>
                            </div>
                        </div>

                        {{#if image}}
                             <img class="post-header-img" src="{{image}}" />
                        {{else}}
                        {{/if}}

                        {{content}}

                        <div id="sharing-icons">
                            <div id="facebook-share-post">
                                <div class="fb-like" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
                                <div id="fb-root"></div>
                                <script>(function(d, s, id) {
                                  var js, fjs = d.getElementsByTagName(s)[0];
                                  if (d.getElementById(id)) return;
                                  js = d.createElement(s); js.id = id;
                                  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";
                                  fjs.parentNode.insertBefore(js, fjs);
                                }(document, 'script', 'facebook-jssdk'));</script>
                            </div>
                            <div id="twitter-share-post">
                                <a href="https://twitter.com/share" class="twitter-share-button" data-via="howtoghost">Tweet</a>
                                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                            </div>
                        </div>

                        <!-- START: Livefyre Embed -->
        <div id="livefyre-comments"></div>
        <script type="text/javascript" src="http://zor.livefyre.com/wjs/v3.0/javascripts/livefyre.js"></script>
        <script type="text/javascript">
        (function () {
            var articleId = fyre.conv.load.makeArticleId(null);
            fyre.conv.load({}, [{
                el: 'livefyre-comments',
                network: "livefyre.com",
                siteId: "379401",
                articleId: articleId,
                signed: false,
                collectionMeta: {
                    articleId: articleId,
                    url: fyre.conv.load.makeCollectionUrl(),
                }
            }], function() {});
        }());
        </script>
        <!-- END: Livefyre Embed -->
                    </div>
                </div>
            {{/post}}
            </article>
        </div>
        
        {{> "sidebar"}}

        <div style="clear:both;"></div>
    </div>
</main>