{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! The main content area on the homepage }}
<main class="content" role="main">
    <div class="wrapper flex-wrapper">
        <div id="content" class="flex-content">

            {{! Each post will be output using this markup }}
            {{#foreach posts}}

            <article class="{{post_class}}">
                <header class="post-header">
                    <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>
                </header>
                <section class="post-excerpt">
                    <div class="post-info">
                        <div class="author-info">
                            <a class="author-img" href={{author.website}}>
                                <span class="author-image" style="background-image:url({{author.image}})"></span>
                            </a> 
                            <a class="author-name" href={{author.website}}>
                                <p>{{author.name}}</p>
                            </a>
                        </div>
                        <div class="post-date-tags">
                            <p> - {{date published_at format="DD MMMM, YYYY"}}{{#if tags}} - {{tags separator=", " prefix="Tags: "}}{{/if}}</p>
                        </div>
                    </div>
                    {{#if image}}
                         <img class="post-header-img" src="{{image}}" />
                    {{else}}
                    {{/if}}
                    <p class="post-words">{{content}}</p>
                </section>
            </article>

            {{/foreach}}

            {{!! After all the posts, we have the previous/next pagination links }}
            {{pagination}}

        </div>

        {{> sidebar}}
    </div>

</main>